<main class="container">
  <h2 class="text-center">
    landing works!
  </h2>
  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilterTable($event)" placeholder="Ex. Mia" #input>
  </mat-form-field>
  <div class="applied-filter-chip ml-3 mt-3 px-2 d-flex align-items-center" *ngIf="chipText">
    <div class="applied-filter-label mr-2">{{chipText}}</div>
    <i type="button" class="custom-close-icon fa fa-times float-right cursor-pointer" aria-label="Close"(click)="resetFilters()"></i>
</div>
  <section class="example-container mat-elevation-z8" tabindex="0">
    <table mat-table [dataSource]="dataSource">
      <ng-container *ngFor="let column of displayedColumns">
      <ng-container matColumnDef="{{ column }}">
        <th mat-header-cell *matHeaderCellDef><mat-label class="text-center">{{ column }}</mat-label>
          <mat-select [formControl]="columnFilters[column]">
            <mat-option class="customSelect" (click)="customSort(column, 'asc')">
              A->Z
            </mat-option>
            <mat-option (click)="customSort(column, 'desc')">
              Z->A
            </mat-option>
            <mat-option (click)="addNewColumnTemp(column,'right')">
              Add Column To Right
            </mat-option>
            <mat-option (click)="addNewColumnTemp(column,'left')">
              Add Column To Left
            </mat-option>
            <mat-option (click)="clearColumn(column)">
             Clear Column
            </mat-option>
            <mat-option (click)="deleteColumn(column)">
              Delete Column
            </mat-option>
            
            <mat-option (click)="openFilterFor(column)">
            Filter
            </mat-option>
          </mat-select>
        </th>
        <td mat-cell *matCellDef="let row"> {{ row[column] }} </td>
      </ng-container>
    </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
      </tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
  </section>
  
  
</main>

<ng-template #addColumn>
  <div class="modal-header p-2">
    <h5 class="modal-title p-t-10">Add New Column</h5>
    <i class="fa fa-times fa-2x cursorPointor " aria-hidden="true" (click)="modalRef.hide()"> </i>
</div>
  <div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Enter Column Name" aria-label="New Column Name" [(ngModel)]='selectedName' aria-describedby="button-addon2">
    <button class="btn btn-outline-secondary" type="button" id="button-addon2"(click)="addNewColumn(selectedPosition,selectedColumn,selectedName)">Add</button>
  </div>
</ng-template>
<ng-template #filter>
  <div class="modal-header p-2">
    <h5 class="modal-title p-t-10">Filter for {{selectedColumn}}</h5>
    <i class="fa fa-times fa-2x cursorPointor " aria-hidden="true" (click)="modalRef.hide()"> </i>
</div>
  <div class="input-group ml-10 col-md-6">
    <angular2-multiselect [data]="dropdownList" [(ngModel)]="selectedItems" 
  [settings]="dropdownSettings" 
  (onSelect)="onItemSelect($event)" 
  (onDeSelect)="OnItemDeSelect($event)"
  (onSelectAll)="onSelectAll($event)"
  (onDeSelectAll)="onDeSelectAll($event)"></angular2-multiselect>
  </div>
  <div class="cstm-button input-group col-md-4 ml-10">
    <button class="btn btn-outline-secondary" type="button" id="button-addon2"(click)="applyMultiFilter()">Add</button>
  </div>
</ng-template>
<router-outlet></router-outlet>